REACT_APP_FIREBASE_API_KEY=______________________
REACT_APP_FIREBASE_AUTH_DOMAIN=______________________
REACT_APP_DATABASE_URL=______________________
REACT_APP_PROJECT_ID=______________________
REACT_APP_STORAGE_BUCKET=______________________
REACT_APP_MESSAGING_SENDER_ID=______________________
REACT_APP_APP_ID=______________________
REACT_APP_MEASUREMENT_ID=______________________

REACT_APP_WEATHER=______________________
REACT_APP_EMAIL_SERVICE_ID = ______________________
REACT_APP_EMAIL_TEMPLATE_ID = ______________________
REACT_APP_EMAIL_USER_ID = ______________________