#contactUs {
  margin-top: 10%;
  padding: 5% 0;
}

#contactUs .row h1 {
  color: #5995fd;
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Fredoka One', cursive;
  margin: auto;
}

#contactUs .contactSection {
  display: flex;
  padding: 3% 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contactUs .contactSection h4 {
  color: #6ea1fa;
  font-weight: 400;
  font-size: 1.7rem;
  font-family: 'Fredoka One', cursive;
  margin: auto;
}

#contactUs .contactSection .row1 {
  align-items: center;
  text-align: center;
}

#contactUs .contactSection .row2 {
  text-align: center;
  align-items: center;

}


.ctn-icon {
  color: #ff5e14;
  margin: 20px 0 10px 0;
  transform: scale(1.7);

}

.cta-text {
  padding: 15px 15px 25px 15px;
  display: inline-block;
  margin-top: 5%;
  box-shadow: 5px 5px 15px rgba(37, 115, 126, 0.3);
  width: 90%;
  color: rgb(223, 223, 223);
  border-radius: 10px;
  background-color: transparent;

}

.cta-text h5 {
  color: rgb(56, 56, 56);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 18px;
  font-weight: 500;
}

.btn-ctnus {
  background: #50d8af;
  border: none;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 2px;
  transition: 0.5s;
  color: #ffff;
  position: absolute;
  left: 5%;
  cursor: pointer;
}

.btn-ctnus:hover {
  background: #42c9a0;
  box-shadow: 5px 5px 15px rgba(37, 115, 126, 0.3);
  text-decoration: none;
  color: #ffff;

}


@media only screen and (max-width: 768px) {
  .btn-ctnus {
    position: relative;
    left: 0;
  }
  #htext h2 {
    font-size: 2rem;
    line-height: initial;
}
}






/* ========================== */

input:focus~label, textarea:focus~label, input:valid~label, textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 240px;
  margin: 3% 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.styled-input input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  box-shadow: 5px 5px 15px rgba(37, 115, 126, 0.3);
  color: rgb(15, 13, 13);
  border-radius: 4px;
  background-color: transparent;

}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}



input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}