.profile-look .profile {
  height: 100px;
  width: 100px;
  background-color: #444;
  color: #fff;
  border-radius: 50%;
  overflow: hidden !important;
}
.profile-look .profile p {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-look .profile img {
  position: relative;
  height: 100%;
  width: 100%;
}
